.DS_Store

# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# cloudflare
/.open-next/
/.wrangler/
cloudflare-env.d.ts
.dev.vars

# testing
/coverage

# misc
*.tsbuildinfo
.env*.local

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
